<div #container class="note-card-container">
    <div class="note-card-content">
        <h1 class="note-card-title">A Heading 1 here</h1>

        <div class="note-card-body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit enim laudantium eum possimus exercitationem praesentium ducimus! Laborum modi quod doloribus quaerat. Quis ipsam nulla accusamus deleniti distinctio officia fugit nesciunt.</p>

            <div #truncator class="fade-out-truncation"></div>
        </div>
    </div>

    <div class="x-button">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
            <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
        </svg>
    </div>
</div>